@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: hsl(0, 0%, 98%);
}

header{
    max-width:500px;
    text-align: center;
    margin:0 auto;

}

h1{
    font-weight: 200;
    margin:0;
}
h1.strong{
    font-weight: 600;
}

p{
   color: hsl(229, 6%, 66%)
}

footer{
    text-align:center;
}

.wrapper{
  display:flex;
  margin: 0 auto;
  justify-content: center;
  max-width:1185px;
  flex-wrap: wrap;

}
.box{
background: #fff;
padding:30px;
width:350px;
position: relative;
border-radius: 5px;
overflow: hidden;
margin:15px;
box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.1);

}

.box::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    height:5px;
    width:100%;
}
.box-red::after{
    background: hsl(0, 78%, 62%) ;
}
.box-cyan::after{
    background: hsl(180, 62%, 55%);
}
.box-orange::after{
    background: hsl(34, 97%, 64%);
}
.box-blue::after{
    background: hsl(212, 86%, 64%);
}


.box-push{
    transform:translateY(50%)
}
.box h3{
    margin:0;
}
.box p{
    font-size: 14px;
    margin: 15px 0 40px;
}
.box img{
    display:block;
    margin-left: auto;
}


@media (max-width: 775px){
.box-push{
    transform:translateY(0)
}
}